@charset "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Georgia', serif;
	font-size: 12pt;
	margin: 0px 0px 0px 20px;
}

h1 {
	font-size: 15pt;
	color: #20bcd5;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
}

header {
	background-color: grey;
	position:relative;
	width: 70%;
	height: 180px;
	padding-top: 0px;
	margin-top: 0px;

}

nav {
	width:70%
}
section {
	background: #636769;
	position:relative;
	width: 70%;
	height: 400px;
}

footer {
	background: #036769;
	position:relative;
	width: 70%;
	bottom: 0px;
}

.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a:hover {
	background-color: white;
	color: black;
}

.topnav a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
	font-size: 17px;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}



















